/* COLOR BACKGROUND - ALL PAGE */
body {
    background-color: #1e1e1e !important;
    overflow-x: hidden;
}


/* --- NAVBAR --- */
.navbar {
    padding: 1em 100px !important;
}

.header .navbar {
    background-color: rgba(227, 226, 226, 1) !important;
}

.imageNavbar {
    width: 85%;
}


/* --- BODY --- */

.container-BPbody {
    background-position: top !important; 
    background: url(../assets/Productos/BANNER-PRODUCTOS.png) no-repeat center;
    background-size: contain;
    min-height: 70vh;
}

.container-BSbody {
    background-position: top !important; 
    background: url(../assets/Productos/BARRA-SERVICIOS-INCLUIDOS.png) no-repeat center;
    background-size: contain;
    min-height: 40vh;
}

.container-BPrbody {
    background-position: top !important; 
    background: url(../assets/Productos/PRODUCTOS.png) no-repeat center;
    background-size: contain;
    min-height: 85vh;
}

.container-BGbody {
    width: 90%; 
    margin-left: auto !important;
    margin-right: auto !important; 
    margin-top: 5%;
}



/* --- IMAGE FOOTER --- */
.image-footer {
    background: url(../assets/Inicio/ALUMUNDO-METALICO.png) no-repeat center;
    background-size: cover;
    min-height: 55vh;
}



/* --- FOOTER --- */
.titleContact {
        text-align: center; color: white; margin-top: 2%;
}

.imageBlue {
        background-image: url(../assets/Inicio/BARRA-CONTACTANOS.png);
}

.lineFooter {
        text-align: center; 
        margin-top: 2%; color: rgba(82, 86, 89, 1); 
        font-size: 75px;
}

.social {
        width: 3%;
}

.alu2 {
        width: 17%;
}



/* --- RESPONSIVE --- */

@media only screen and (max-width: 768px) {
body {
        overflow-x: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/* --- NAVBAR --- */
.navbar {
        padding: 0.5em 1em !important;
}

.navbar-brand {
        width: 40%;
}

.imageNavbar {
        width: 105%;
}

/* --- BODY --- */
.container-BPbody {
    background-position: top !important; 
    background: url(../assets/Productos/BANNER-PRODUCTOS.png) no-repeat center;
    background-size: contain;
    min-height: 22vh;
}

.container-BSbody {
    background-position: top !important; 
    background: url(../assets/Productos/BARRA-SERVICIOS-INCLUIDOS.png) no-repeat center;
    background-size: contain;
    min-height: 15vh;
}

.container-BGbody {
    width: 90%; 
    margin-left: auto !important;
    margin-right: auto !important; 
    margin-top: -55% !important;
}


/* --- IMAGE FOOTER --- */
.image-footer {
    background: url(../assets/Inicio/ALUMUNDO-METALICO.png) no-repeat center;
    background-size: contain;
    margin-top: -25%;
}


/* --- FOOTER --- */
.imageContactenos {
    margin-top: -25%;
    width: 100.5%;
}

.titleContact {
    text-align: center; 
    color: white; 
    margin-top: 2%;
    font-size: 150%;
}

.imageBlue {
    background-image: url(../assets/Inicio/BARRA-CONTACTANOS.png);
    width: 96.6% !important;
}

.lineFooter {
    text-align: center; 
    margin-top: -2%; color: rgba(82, 86, 89, 1); 
    width: 100%;
}

.social {
    width: 7%;
}

.alu1 {
    width: 35%;
}

.alu2 {
    width: 40%;
}
}